**/mentors.csv
**/venv
**/.fusion-auth.env
**/.hasura.env
**/.metrics.env
**/.odk.env
**/.user-service.env
**/.nl-apis.env
**/.gatekeeper.env

.DS_Store
**/*.swp
*.swo
**/.env

**/node_modules/
**/pgdata-fa-db
**/node_app_1/node_modules
**/node_app_1/node_modules
**/oauth2-proxy.cfg
**/pgdata
**/redis-nl-apis-data

**/psql-dump/
**/psql-dump.tar.gz

*DS_Store
**/.vs/
**/.vscode/
**/.idea/


**/.DS_Store
**/binaries
**/pgdata
**/Archive.zip

posthog/

**/.user-service.env
**/.uci-chatbot-helper.env
**/userlist.txt

bin/ingest/logs/*

central-database-data